extends container 
block content 
    div.main 
        | You Registration on our project as admin
        a(href=RegadmindUrl) Follow to the link!
        div.block_registration 
            | Thank You!