extends container 
block content 
        div.main 
        | Dear #{userName}
        | You should create new password 
        a(href=forgotPasswordUrl) Link to click
             div.block_registration 
                | Thank You!