doctype html 
html 
    head 
        style 
            include style.css
    body 
        div.header 
            | Goodbye 
            div.main 
                Dear #{userName} 
            div.footer 
                | BEST regards 
                br
                | Our Team 